MAILGUN_API_KEY=your-mailgun-api-key
MAILGUN_API_BASE=https://api.mailgun.net/v3
MAILGUN_DOMAIN=mg.hvgamingsystems.com.au
CONTACT_TO=info@hvgamingsystems.com.au
CONTACT_FROM=Website Enquiry <website@mg.hvgamingsystems.com.au>
